.a{
    display:flex;
    height: 100vh;
    width:200vh;
    flex-direction: column;
}

.a1{
    display: flex;
    height: 20vh;
    width:200vh;
    background-color: #17252A;
    justify-content: center;
    align-items: center;
    color: white;
    font-style:Georgia;
    font-size: 3vh;
}

.a2{
    display:flex;
    height: 80vh;
    width:200vh;
    flex-direction: row;

}

.a21{
    display: flex;
    height: 80vh;
    width: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#3AAFA9;
}
.b4{
    display: flex;
    height: 10vh;
    width: 50vh ;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #17252A;
    border-radius: 5vh;
    color:white;
    
}
.b1{
    display: flex;
    height: 20vh;
    width: 59vh ;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  
    
    
}
.w{
   
    height: 7vh;
    width: 50vh;
    border-radius: 3vh;
    text-align: center;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.b2{
    display: flex;
    height: 20vh;
    width: 59vh ;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.b3{
    display: flex;
    height: 20vh;
    width: 59vh ;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.a22{
    display: flex;
    height: 80vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    background-color:#2B7A78;
    color: #17252A;
     
}
.k{
    font-size: 10vh;
}